<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section
            name="unity"
            type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    </configSections>

    <unity>
        <alias alias="uint" type="System.UInt32, mscorlib" />

        <namespace name="Task3" />
        <assembly name="task3" />
        
        <container>
            <instance type="uint" name="InitialMoney" value="100" />

            <register type="AbstractPlayer" mapTo="HumanPlayer" name="HumanPlayer">
                <constructor>
                    <param name="initialMoney">
                        <dependency name="InitialMoney" />
                    </param>
                </constructor>
            </register>
            
            <register type="AbstractPlayer" mapTo="SameAsDealerBotPlayer" name="SameAsDealerBotPlayer">
                <constructor>
                    <param name="initialMoney">
                        <dependency name="InitialMoney" />
                    </param>
                    <param name="name">
                        <optional name="BotName" />
                    </param> 
                </constructor>
            </register>
            
            <register type="AbstractPlayer" mapTo="VeryBraveBotPlayer" name="VeryBraveBotPlayer">
                <constructor>
                    <param name="initialMoney">
                        <dependency name="InitialMoney" />
                    </param>
                    <param name="name">
                        <optional name="BotName" />
                    </param>
                </constructor>
            </register>
            
            <register type="Dealer">
                <constructor>
                    <param name="deck">
                        <dependency name="Deck" />
                    </param>
                </constructor>
            </register>
            
            <register type="Hand">
                <constructor>
                    <param name="owner">
                        <dependency name="Owner" />
                    </param>
                    <param name="cards">
                        <dependency name="Cards" />
                    </param>
                    <param name="initialBet">
                        <dependency name="InitialBet" />
                    </param>
                </constructor>
            </register>
            
            <register type="Card">
                <constructor>
                    <param name="suit">
                        <dependency name="Suit" />
                    </param>
                    <param name="value">
                        <dependency name="Value" />
                    </param>
                </constructor>
            </register>
        </container>
    </unity>

</configuration>
