<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="Id" value="0;0;0;0;1;0;0;0;0"/>
        <add key="Gaussian" value="0,0625;0,125;0,0625;0,125;0,25;0,125;0,0625;0,125;0,0625"/>
        <add key="Sobel X operator" value="1;0;-1;2;0;-2;1;0;-1"/>
        <add key="Sobel Y operator" value="1;2;1;0;0;0;-1;-2;-1"/>
    </appSettings>
</configuration>